<a
  href="#offcanvas-slide"
  uk-icon="menu"
  class="uk-icon-button uk-margin-small-top uk-margin-small-left"
  uk-toggle
></a>

<div id="offcanvas-slide" uk-offcanvas>
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default">
      <li class="uk-nav-header">Liens</li>
      <li class="uk-active"><a href="#">Ajouter un lien</a></li>
      <li><a href="#">Liste des liens</a></li>
      <li class="uk-nav-divider"></li>
      <li class="uk-nav-header">Catégories</li>
      <li><a href="#">Ajouter une catégorie</a></li>
      <li><a href="#">Liste des catégories</a></li>
      <li class="uk-nav-divider"></li>
    </ul>

  </div>
</div>