<div>
  <a
    href="#offcanvas-slide"
    uk-icon="menu"
    class="uk-icon-button uk-margin-small-top uk-margin-small-left"
    uk-toggle
  ></a>

  <div id="offcanvas-slide" uk-offcanvas>
    <div class="uk-offcanvas-bar">

      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">Liens</li>
        <li class="uk-active"><a href="#">Ajouter un lien</a></li>
        <li><a href="/admin/allLink">Liste des liens</a></li>
        <li class="uk-nav-divider"></li>
        <li class="uk-nav-header">Catégories</li>
        <li><a href="/admin/newCategoryForm">Ajouter une catégorie</a></li>
        <li><a href="/admin/allCategories">Liste des catégories</a></li>
        <li class="uk-nav-divider"></li>
      </ul>

    </div>
  </div>
</div>

  <div
  class="uk-container uk-margin-medium-top uk-card uk-card-default uk-card-body"
>
<h3>Ajouter un lien</h3>
  <div class="uk-card-body">
    <form method="post" action="/admin/newLink" class="uk-form-stacked">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Nom :</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            id="name"
            name="name"
            type="text"
            placeholder="Nom"
            required
          />
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Url :</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            id="url"
            name="url"
            type="text"
            placeholder="Url"
            required
          />
        </div>
      </div>
      <div class="uk-margin">
        <textarea class="uk-textarea" name="description" id="description" cols="15" rows="5" placeholder="Description" aria-label="Textarea"></textarea>
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Lien de l'image :</label>
        <div class="uk-form-controls">
          <input
            class="uk-input"
            id="img_url"
            name="img_url"
            type="text"
            value="https://cdn-icons-png.flaticon.com/512/566/566410.png"
          />
        </div>
      </div>
      <div class="uk-margin">
            <select class="uk-select" aria-label="Select" id="categoryId" name="categoryId" required>
                <option selected value="">Choix de la catégorie :</option>
                {{#each category}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

      <button class="uk-button uk-button-default">Valider</button>
    </form>
    {{#if message}}
    <div class="uk-alert-success" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>{{ message }}</p>
    </div>
  {{/if}}
  {{#if error}}
  <div class="uk-alert-warning" uk-alert>
      <a class="uk-alert-close" uk-close></a>
      <p>{{ error }}</p>
    </div>
  {{/if}}
  </div>
</div>

