<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a href="">zob</a></li>
        <li class="uk-parent"><a href="">poule</a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
  </nav>
</div>